// VARIABLES
$blue: rgba(98, 219, 255, 0.7);
$border: 1.7px solid ;
$font1: Questrial;

//FONTS
@font-face {
  font-family: Questrial;
  src: url('../fonts/Questrial.ttf');
}

//PAGE
body {
  margin: 0px !important;
  font-family: $font1;
  height: 100vh;
  width: 100vw;
}

li {
  list-style: none;
}

///CONTROLS
.header {
  width: 100vw;
  text-align: center;
  padding-top: 10px;
  height: 30px;
  background-color: $blue;
  color: white;
  font-size: 20px;
}

div.header-home-button {
  cursor: pointer;
  display: inline !important;
  left: 20px;
  position: absolute;
}

div.header-buttons {
  cursor: pointer;
  display: inline !important;
}

.header-button {
  padding-left: 25px;
  transition: color, 0.3s, ease-in-out;
}

.header-button:hover {
  color: $blue;
  transition: color, 0.3s, ease-in-out;
}

.footer-nav-down {
  border-style: solid;
  border-width: 2px;
  border-color: $blue;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  cursor: pointer;
  height: 55px;
  width: 100vw;
  position: absolute;
  bottom: 0px;
  text-align: center;
  transition: all, 0.7s, ease-in-out;
}

.footer-nav-down:hover {
  cursor: pointer;
  background-color: $blue;
  transition: all, 0.7s, ease-in-out;
  span.nav-down-button {
    color: white;
  }
}

span.nav-down-button {
  font-size: 20px;
  color: $blue;
  position: absolute;
  padding-top: 20px;
  cursor: pointer;
  transition: color, 0.3s, ease-in-out;
}

.contact-div {
  display: block;
  margin-top: 70px;
  text-align: center;
}

.contact-button {
  display: inline-block;
  border-style: solid;
  border-color: $blue;
  border-width: 2px;
  width: 200px;
  padding: 25px;
  font-size: 25px;
  color: $blue;
  transition: all, 0.7s, ease-in-out;
}

.contact-button:hover {
  background-color: $blue;
  color: white;
  transition: all, 0.7s, ease-in-out;
}

///CAR PAGE DETAILS
.page {
  width: 100vw;
  margin-top: 50px;
  text-align: center;
}

.page-price {
  float: left;
  padding-left: 50px;
  padding-bottom: 15px;
}

.price {
  font-size: 30px;
}

.page-img {
  padding: 0 0 15px 50px;
  width: 400px;
}

.car {
  width: 400px;
  height: 250px;
}

.page-specs {
  text-align: left;
  position: absolute;
  float: right;
  bottom: 60%;
  right: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding-right: 100px;
  padding-bottom: 15px;
  border-radius: 2px;
  margin-top: 20px;
}

.spec-list {
  padding-left: 20px !important;

  li {
    padding-top: 10px;
    font-size: 20px;
  }
}

.page-about {
  text-align: left;
  padding-left: 50px;
  width: 60%;
}
