// VARIABLES
$blue: rgba(98, 219, 255, 0.7);

body {
  margin: 0px !important;
}

.container {
  text-align: center;
}

.header {
  width: 100%;
  text-align: center;
}

.header-home-button {
  float: left;
}

.header-button {
  padding: 5px 20px 5px 20px;
  border-style: solid;
  border-width: thin;
  border-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.header-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: $blue;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.nav-left {
  position: absolute;
  margin-top: 50vh;
  padding: 5px 20px 5px 20px;
  border-style: solid;
  border-width: thin;
  border-color: rgba(0, 0, 0, 0);
}

.nav-left:hover {
  border-color: $blue;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.nav-right {
  float: right;
  margin-top: 50vh;
  padding: 5px 20px 5px 20px;
  border-style: solid;
  border-width: thin;
  border-color: rgba(0, 0, 0, 0);
}

.nav-right:hover {
  border-color: $blue;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.nav-next-obj {
  text-align: center;
  position: absolute;
  bottom: 0px;
  padding: 5px 20px 5px 20px;
  border-style: solid;
  border-width: thin;
  border-color: rgba(0, 0, 0, 0);
}

.nav-next-obj:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: $blue;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
